
{% extends 'base.html' %}
{% block title %} Checkout Page || Ecommerch {% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-7 mx-3 border rounded">
     <form action="" method="post" class="mt-3">
        {% csrf_token %}
        <div class="billng_address" >
            {{billing_address.as_p}}
         </div>
   

        </div>

        <!-- start total of orders -->
        <div class="col-lg-4 mx-4 border rounded ">

            <table class="table mt-3">
<thead>
    <tr>
        <th>Product</th>
        <th>Total</th>
    </tr>
</thead>

                <tbody>
                    {% for item in order_item %} 
                    <tr>
                        <td><a href="" style="text-decoration: none;">{{item.item.name}}</a></td>
                        {% if item.get_total %}
                            <td>${{item.get_total}}</td>
                        {% elif item.variation_single_price %}
                            <td>${{item.variation_single_price}}</td>
                        {% elif item.variation_total %}
                            <td>${{item.variation_total}}</td>
                        {% endif %}
                    </tr> 
                    {% endfor %}     
                    
                    <tr>
                        <td>Subtotal:</td>
                        <td>{{order_total}}</td>
                    </tr>
                    <tr>
                        <td>Shipping:</td>
                        <td>Free</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>{{order_total}}</td>
                    </tr>
                </tbody>

                </table>

                <div class="accordion-summary" id="accordion-payment">
                    <div >
                        {{payment_method.as_p}}

                    </div>
                    <button type="submit" class="btn btn-outline-primary">
                        <span class="btn-text">Place Order</span>
                        <!-- <span class="btn btn-hover-text">Proceed to Checkout</span> -->
                    </button>
                    
                </div>
            </form>
        </div>
    </div>


</div>

{% endblock content %}

<!-- for paypal  -->
{% block paypal %} 
<script 
src="https://www.papal.com/sdk/js?client-id=YOUR_CLIENT_ID"
> </script>
{% endblock paypal %}

