
<!-- Start Footer -->
<footer class="footer-area" style="margin-top: 90px; box-shadow: 0px 8px 20px rgba(0.3, 0.30, 0.30, 0.3); border-top: #043873; ">
  <!-- footer top -->
  <div class="footer-top ">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 ">
                  <div class="footer-about ">
                      <img class="w-50" src="/static/img/nav_img.png" alt="">
                      <p>But i must explain to you all this mistaken
                          idea of dencouncing pleasure.</p>
                  </div>
              </div>
              <div class="col-lg-2 "><div class="footer-top-link">
                  <h3>Quick Links</h3>
                  <ul>
                      <li><a href="">About Our Company</a></li>
                      <li><a href="">Services WE provide</a></li>
                      <li><a href="">Career & Opportunity</a></li>
                      <li><a href="">Privacy & policy</a></li>
                      <li><a href="">Contact US</a></li>
                  </ul>
              </div></div>
              <div class="col-lg-2"><div class="footer-top-link">
                  <h3>Company</h3>
                  <ul>
                      <li><a href="">About Company</a></li>
                      <li><a href="">Our Testimonials</a></li>
                      <li><a href="">Latest News</a></li>
                      <li><a href="">Our misson</a></li>
                      <li><a href="">Get a free Quot</a></li>
                  </ul>
              </div></div>
              <div class="col-lg-2 "><div class="footer-top-link">
                  <h3>Contact us</h3>
                  <address>
                      Sagrada Familia, Herba <br>Street Front USA <br> brandoxide@gmail.com <br> <i class="fa-solid fa-phone me-2"></i> 002-568423591
                  </address>
              </div></div>
              <div class="col-lg-3 ">
                  <div class="footer-social footer-top-link extra-social-design ">
                      <h3>Follow Us</h3>
                      <ul>
                          <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                          <li><a href=""><i class="fa-brands fa-square-twitter"></i></a></li>
                          <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                          <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>    
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- footer bottom -->
  <div class="footer-bottom">
      <div class="container">
          <div class="row">
              <div class="footer-bottom-tex">
                  <p class="m-0">Developed by MD. SHAHIN | <a href="#">Brandoxide</a>.all right reserved & Copyright @ 2023.</p>
              </div>
          </div>
      </div>
  </div>

</footer>



{% block footer_css %}
  
  
<style>
  
/* Footer css */
.footer-area{
background-color: #f8f8f8;
}
.footer-top{
padding-top: 70px !important;
padding-bottom: 30px;
}

.footer-top h3{
padding-bottom: 15px;
}

.footer-about img{
margin-bottom: 15px;
}

.footer-top-link h3{
font-size: 20px;
text-transform: capitalize;
}

.footer-top-link ul{
margin: 0;
padding: 0;
list-style: none;

}

.footer-top-link li a{
text-decoration: none;
display: inline-block !important;
padding: 2px;
font-size: 16px;
color: #646464;
transition: .3s;
}

.footer-top-link li a:hover{
/* background-color: #043873 ; */
/* color: #ffff; */
color: #caa892;
border-radius: 5px;
}

.footer-social li{
display: inline-block;
margin-right: 5px;
}
.footer-social li a{
background-color: #d5d5d5;
width: 30px;
height: 30px;
display: flex !important;
justify-content: center;
align-items: center;
border-radius: 50px;
color: #ffff;
transition: .5s;

}

.footer-social li a:hover{
background-color: #043873;

}

.extra-social-design li a:hover{
background-color: #043873 !important;
color: #ffff;
border-radius: 5px;

}

.footer-bottom{
border-top: 1px solid #c4c4c4;
padding: 10px 0;
align-items: center;
text-align: center;
}

.footer-bottom-tex a{
text-decoration: none;
color: #caa892;
}


/* RESPONSIVE CSS */

@media (max-width: 991px){

/* header css 991 */

.header-area .nav-item {
    margin-left: 20px !important;
    margin-top: 4px;
 }
 

 .header-area .nav-item:last-child .nav-link{
    margin-left: 0;
    margin-top: 10px;
    width: 100px;
 }



    /* footer css 991 */

.footer-about{
text-align: center;
}

.footer-top{
padding-top: 40px !important;
}
.footer-top-link{
text-align: center;
margin-top: 30px;
}
.footer-top-link h3{
padding-bottom: 0 !important;
}
.footer-social h3{
padding-bottom: 15px !important;
}
}
</style>

{% endblock footer_css %}
<!-- End Footer -->





